In [1]:
import pandas as pd

In [18]:
train_df.columns

Index(['item_id', 'user_id', 'region', 'city', 'parent_category_name',
       'category_name', 'param_1', 'param_2', 'param_3', 'title',
       'description', 'price', 'item_seq_number', 'activation_date',
       'user_type', 'image', 'image_top_1', 'deal_probability'],
      dtype='object')

In [7]:
pred_df = pd.read_csv("../outputs/predictions.csv")
train_df = pd.read_csv("../data/train.csv")

pred_df.head()

,item_id,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,description,price,item_seq_number,activation_date,user_type,image,image_top_1,deal_probability
0,6544e41a8817,dbe73ad6e4b5,Волгоградская область,Волгоград,Личные вещи,Детская одежда и обувь,Для мальчиков,Обувь,25,Отдам бесплатно,На ангарском,279818.945942,66,2017-04-18,Private,a8b57acb5ab304f9c331ac7a074219aed4d349d8aef386...,2020.0,0.047443
1,65b9484d670f,2e11806abe57,Свердловская область,Нижняя Тура,Хобби и отдых,Велосипеды,Дорожные,NaN,NaN,Продам велосипед,"Продам велосипед KAMA F200,в нормальном состо...",3000.000000,4,2017-04-16,Private,NaN,NaN,0.137426
2,8bab230b2ecd,0b850bbebb10,Новосибирская область,Бердск,Бытовая электроника,Аудио и видео,Телевизоры и проекторы,NaN,NaN,BBK,Продам новый телевизор BBK 32 диагональ смарт...,15000.000000,15,2017-04-17,Private,8c361112cb049745ef2d1b0ae73594fc5c107286b0c942...,2960.0,0.162474
3,8e348601fefc,5f1d5c3ce0da,Саратовская область,Саратов,Для дома и дачи,Бытовая техника,Для кухни,Вытяжки,NaN,Вытяжка Jetair 60,"Продам новую вытяжку в упаковке,с документами....",4500.000000,70,2017-04-17,Private,NaN,NaN,0.139840
4,8bd2fe400b89,23e2d97bfc7f,Оренбургская область,Бузулук,Личные вещи,Товары для детей и игрушки,Детские коляски,NaN,NaN,Коляска зима-лето,Продам отличную коляску. б/у 1 год. все вопрос...,4900.000000,15,2017-04-15,Private,bc3cf6deef10840fc302e38eb48fa7748aa1e28d534f8f...,1002.0,0.317541

In [ ]:
# most popular regions

In [15]:
pred_df.groupby("region").agg({"deal_probability": "mean"}).sort_values(
    "deal_probability", ascending=False
)[:5]

                      deal_probability
region
Оренбургская область          0.164264
Башкортостан                  0.158949
Ставропольский край           0.158706
Удмуртия                      0.158145
Саратовская область           0.155679

In [14]:
train_df.groupby("region").agg({"deal_probability": "mean"}).sort_values(
    "deal_probability", ascending=False
)[:5]

                      deal_probability
region
Оренбургская область          0.155921
Ставропольский край           0.153586
Башкортостан                  0.148859
Удмуртия                      0.148130
Краснодарский край            0.147066

In [17]:
#
print(pred_df.shape)
print(train_df.shape)

(508438, 18)
(1503424, 18)